
<% @profiles.each do |profile| %>

  <div id="modal">
    <header><h1><%= profile.display %></h1></header>
    <section>
      <p><div class="profile_image">
        <%= image_tag profile.profile_image.url%>
      </div>
    </p>
      <p><%= profile.public_bio %>  
    </p>

    <section id="demo">
      <article>
     <header>   <h1>Blogs: <%= profile.blogs.count %></h1> </header>
        <div class="content_w">
          <div class="content">

            <% profile.blogs.each do |blog|  %> 

              <li> <%= link_to blog.title, blog_path(blog.id) %> </li>
                     
            <% end %>

          </div>
        </div>
      </article>
    </section>
  </div>
</section>

  <hr>

<% end %>


<script>

(function($) {

  $('article').on('click', function() {
    slide($('.content', this)); 
  });

  function slide(content) {
    var wrapper = content.parent();
    var contentHeight = content.outerHeight(true);
    var wrapperHeight = wrapper.height();

    wrapper.toggleClass('open');
    if (wrapper.hasClass('open')) {
      setTimeout(function() {
        wrapper.addClass('transition').css('height', contentHeight);
      }, 10);
    }
    else {
      setTimeout(function() {
        wrapper.css('height', wrapperHeight);
        setTimeout(function() {
          wrapper.addClass('transition').css('height', 0);
        }, 10);
      }, 10);
    }

    wrapper.one('transitionEnd webkitTransitionEnd transitionend oTransitionEnd msTransitionEnd', function() {
      if(wrapper.hasClass('open')) {
        wrapper.removeClass('transition').css('height', 'auto');
      }
    });
  }
})(jQuery);

</script>