<!-- <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
            
 -->

<div class="modal_post">
    <header>
      <p><h1> New Blog </h1></p>
    </header>
      <section>

<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <p> <%= f.text_field :date, :placeholder => "Date" %> </p>

   <p> <%= f.text_field :tag_list, :placeholder => "Tags, seperated by commas" %> </p>

   <p> <%= f.text_field :title, :placeholder => "Title" %> </p>

 <div class="text_area_width">
   <p> <%= f.text_area :description, :rows => 5, :cols => 119, :placeholder => "Description" %> </p>
 </div>

<br />
<div class="blog_choose_image">
      <div class="blog_image_field_text">
        <h1><%= f.label :Upload_an_Image_for_your_blog %></h1><br />
      </div>
    <div class="blog_image_field">
      <%= f.file_field :blog_image %>
    </div>
</div>


<div id="blog_comments">
   <table>
      <tr>
        <td> Would you like your profile public or private? </td> <br />
        <td> &nbsp&nbsp<%= label :public, "Public" %>&nbsp&nbsp</td>
        <td> <%= f.radio_button :public, true , :checked => true , :value => true %> &nbsp&nbsp</td>

        <td> <%= label :public, " Private"%> &nbsp&nbsp</td>
        <td> <%= f.radio_button :public, false, :value => false %> </td>
      </tr>
  </table>
</div>


<div id="blog_comments">
   <table>
      <tr>
        <td> Would you like to allow comments your posts? </td> <br />
        <td> &nbsp&nbsp<%= label :comments, "Allow" %>&nbsp&nbsp</td>
        <td> <%= f.radio_button :comments, true , :checked => true , :value => true %> </td>

        <td> &nbsp&nbsp<%= label :comments, "Disable"%> &nbsp&nbsp</td>
        <td> <%= f.radio_button :comments, false, :value => false %> </td>
      </tr>
  </table>
</div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
   </section>     

</div>




