<!-- <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
            
 -->
<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :date, :placeholder => "Date" %>

    <%= f.text_field :tag_list, :placeholder => "Tags, seperated by commas" %>

    <%= f.text_field :title, :placeholder => "Title" %>

    <%= f.text_area :description, :rows => "5", :cols => 10, :placeholder => "Description" %>

<br />
<div class="blog_choose_image">
      <div class="blog_image_field_text">
        <h1><%= f.label :Upload_an_Image_for_your_blog %></h1><br />
      </div>
    <div class="blog_image_field">
      <%= f.file_field :blog_image %>
    </div>
</div>


<div id="blog_comments">
   <table>
      <tr>
        <td> Would you like your profile public or private? </td> <br />
        <td> <%= label :public, "Public" %></td>
        <td> <%= f.radio_button :public, true , :checked => true , :value => true %> </td>

        <td> <%= label :public, "Private"%> </td>
        <td> <%= f.radio_button :public, false, :value => false %> </td>
      </tr>
  </table>
</div>


<div id="blog_comments">
   <table>
      <tr>
        <td> Would you like to allow comments your posts? </td> <br />
        <td> <%= label :comments, "Allow" %></td>
        <td> <%= f.radio_button :comments, true , :checked => true , :value => true %> </td>

        <td> <%= label :comments, "Disable"%> </td>
        <td> <%= f.radio_button :comments, false, :value => false %> </td>
      </tr>
  </table>
</div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


