<h1>Listing blogs</h1>


<% @blogs.each do |blog| %>
  <div class="user_blog">
<hr>
<div class="blogs_listing_image"> <%= image_tag blog.blog_image.thumb.url %> </div>

  <p> <%= blog.date %></p>
   <p><%= blog.title %></p>
  <div class="blog_description"> <%= raw blog.description %></p> </div>

  

        <%= render partial: 'favorite_form', locals: {:blog => blog}  %>

        <%= render partial: 'follow_form', locals: {:user => blog.user } if blog.user %>

   <%= link_to 'Show ', blog %>
   <%= link_to ' Edit ', edit_blog_path(blog) %>
   <%= link_to ' Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
 </div>

<% end %>
<br />

<%= link_to 'New Blog', new_blog_path %>