<div id="listing_blogs"><h1>Listing blogs</h1></div>

  <div class="bubble">
    <div id="tag_cloud">
      <% tag_cloud Blog.tag_counts, %w[ s m l] do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
    </div>
  </div>

  <div class="search">
      <%= search_form_for @search, url: "/blogs/user_search" do |f| %>
              <%= f.text_field :title_cont, :placeholder => "Title contains" %>
  </div>
  <div class="search_button"> <%= f.submit %> </div>
      <% end %>

<% @blogs.each do |blog| %>
  <div class="user_blog">
    <hr style="height:3px;border:none;color:#333;background-color:#333;" />
    <div class="listing_blogs_date"><%= blog.date %></div>

    <h1><div class="listing_blogs_title"><%= blog.title %></div></h1>

    <table>
      <div class="blogs_listing_image"> 
       <td width="200px"> <%= image_tag blog.blog_image.thumb.url %> </td>
      </div>

      <div class="blog_description">
        <td> <%= blog.description %> </td>
      </div>
    </table>

    <p>
      <div class="tags">
        <%= raw blog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %> 
      </div>
    </p>
    
    <div id='favorite-form-<%=blog.id%>'>
      <%= render partial: 'favorite_form', locals: {:blog => blog}  %>
    </div>
         
    <%= link_to 'Show ', blog %>
    <%= link_to ' Edit ', edit_blog_path(blog) %>
    <%= link_to ' Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

<% end %>
<br />

<%= link_to 'New Blog', new_blog_path %>