<h1>Listing blogs</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogs.each do |blog| %>
  
  <p> <%= blog.date %></p>
   <p><%= blog.title %></p>
  <p> <%= blog.description %></p>

        <%= render partial: 'favorite_form', locals: {:blog => blog}  %>


   <%= link_to 'Show ', blog %>
   <%= link_to ' Edit ', edit_blog_path(blog) %>
   <%= link_to ' Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
  </tr>
<% end %>
<br />

<%= link_to 'New Blog', new_blog_path %>