<a href="" class="button expand"><%= notice %></a>

<p id="notice"><%= notice %></p>

<div id="blog_title"><p>
  <h2><%= @blog.title %></h2>
</p>
</div>

<div class="blog_date">  <p>
  <hr><h3><%= @blog.date %></h3>
</p>
</div>

<div id="blog_description1">  <p>
  <h1><%= raw @blog.description %></h1></p>
</div>

<div class= "edit_blog">
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %> |
<%= link_to 'New Post', new_blog_post_path(@blog) %>
</div>

<hr>

<% @posts.each do |post| %>

  <p><div id="post_date"><%= post.date %></div></p>
  <h3><div id="post_title1"><%= post.title %></div></h3>
  <div id="post_location1"><%= post.location %></div>

   <div class="post_location1">
      <% if post.location %>
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= post.latitude %>,<%= post.longitude %>&zoom=11&size=400x400">
      <% end %>
   </div>

  <p><%= post.stayed %></p>
  <p><%= post.tags %></p>
  <p><%= raw post.body %></p>

    <% post.images.each do |image| %>
        <a href="<%= image.photo_file %>" data-lightbox="roadtrip">Image</a>
    <% end %>

<br />
<br />
<br />
  <p><% if post.video %>
    <iframe id="player" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/<%= post.video.uid %>" frameborder="0"></iframe>
  <% end %></p>

  <p> <%= link_to 'Edit', edit_blog_post_path(@blog, post) %> </p>
  <td><%= link_to 'Destroy', [@blog, post], method: :delete, data: { confirm: 'Are you sure?' } %></td>

  <%= form_for build_comment_for_post(post) do |f| %>
    <%= f.hidden_field :commentable_type %>
    <%= f.hidden_field :commentable_id %>
    <%= f.text_field :title, :placeholder => "Title" %>
    <%= f.text_area :body, :rows => 3, :placeholder => "Comment" %>

    <%= f.submit %>
  <% end %>

  

  <hr style="height:3px;border:none;color:#333;background-color:#333;" />

<% end %>



