<a href="" class="button expand"><%= notice %></a>


<div id="modal">


<div id="blog_title"><p>
  <h2><%= @blog.title %></h2>
</p>
</div>

<div class="blog_date">  <p>
  <hr><h3><%= @blog.date %></h3>
</p>
</div>

<div id="blog_description1">  <p>
  <h1><%= @blog.description %></h1></p>
</div>

<div class= "edit_blog">

   <% if can? :update, @blog %>
      <%= link_to 'Edit', edit_blog_path(@blog) %> |
   <% end %>

   <% if can? :update, @blog %>
      <%= link_to 'New Post', new_blog_post_path(@blog) %> |
   <% end %>

   <%= link_to 'Back', blogs_path %> 

</div>

</div>
<hr>
<% @posts.each do |post| %>

<div class="modal">
    <header>
      <p><h1> <%= post.title %> - <%= post.date %></h1> </p>
    </header>
      <section>

    <div class="center_map">

           <div class="user_location"><%= post.location %> (Click to hide map)</div> 

       <div class="google_map_location">
          <% if post.location %>
            <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= post.latitude %>,<%= post.longitude %>&zoom=11&size=400x400">
          <% end %>
       </div>
     </div>  
   </section>     

</div>

<div class="modal_post">
    <header>
      <p><h1>   <p> <%= post.stayed %></p></h1> </p>
    </header>
</div>

<div class="modal_post">
    <header>
      <p><h1> </h1> </p>
    </header>
      <section>
        <p><%= post.body %></p>
      </section>
</div>

  <div class="modal_post">
    <div class="center_image">
      <section>
        <% post.images.each do |image| %>
          <img border="0" src="<%= image.photo_file %>" alt="Uploaded Image" width="304" height="228">
        <% end %>
      </section>
    </div>
  </div>





<div class="modal_post">
   
      <section style="text-align: center;">
        <% if post.video %>
          <iframe id="player" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/<%= post.video.uid %>" frameborder="0"></iframe>
        <% end %>
      </section>
</div>


<% if @blog.comments %>

<div class="modal_post">
      <section>    

      <div class="comments_container"> Comments  </div>

      <div class="slider" style="display: none;">
        <div class="hide_comments">

          <%= form_for build_comment_for_post(post), html: { id: "post_#{post.id}_comment" }, remote: true do |f| %>
            <%= f.hidden_field :commentable_type, id: "post_#{post.id}_commentable_type" %>
            <%= f.hidden_field :commentable_id, id: "post_#{post.id}_commentable_id" %>
            <%= f.text_area :body, id: "post_#{post.id}_body", :rows => 3, :placeholder => "Comment" %>

            <%= f.submit %>
          <% end %>

          <div id=<%= "post_#{post.id}_comments" %>>
            <%= render post.root_comments.reverse_order %>
          </div>
        </div>
      </div>        

      </section>
</div>
<% end %>

<div class="edit_blog_post">
   <%= link_to 'Edit Post', edit_blog_post_path(@blog, post) %> 
</div>

<div class="edit_blog_post">
<%= link_to 'Delete Post', [@blog, post], method: :delete, data: { confirm: 'Are you sure?' } %></div>



  <hr style="height:3px;border:none;color:#333;background-color:#333;" />

<% end %>

