<a href="" class="button expand"><%= notice %></a>

<p id="notice"><%= notice %></p>

<div id="blog_title"><p>
  <h2><%= @blog.title %></h2>
</p>
</div>


<div class="blog_date">  <p>
  <hr><h3><%= @blog.date %></h3>
</p>
</div>


<div id="blog_description">  <p>
  <%= @blog.description %>
</p>
</div>

<div class= "edit_blog">
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %> |
<%= link_to 'New Post', new_blog_post_path(@blog) %>
</div>

<hr>



<% @posts.each do |post| %>

  <p><%= post.title %></p>
  <p><%= post.location %></p>

    <% if post.location %>
      <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= post.latitude %>,<%= post.longitude %>&zoom=11&size=400x400">
    <% end %>

  <p><%= post.date %></p>
  <p><%= post.stayed %></p>
  <p><%= post.tags %></p>
  <p><%= post.body %></p>
  <p><%= image_tag post.blog_photo.url%></p>
  
<p>
   <section id="gallery">
  <!-- thumbnail image wrapped in a link -->
    <section class="item">
        <a href="#img1">
          <img src="http://media-cache-ec0.pinimg.com/736x/d6/f3/ea/d6f3ea3207ced5d18138680bee59f535.jpg">
        </a>
    </section>

<!-- lightbox container hidden with CSS -->
  <div class="lightbox" id="img1">
      <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/736x/d6/f3/ea/d6f3ea3207ced5d18138680bee59f535.jpg">
                <div class="info">
                <a href="#img3" class="prev">Prev</a>
                <a href="#" class="close">Close</a>
                <a href="#img2" class="next">Next</a>
            </div>
        </div>
    </div>
</p>

  <p><% if post.video %>
    <iframe id="player" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/<%= post.video.uid %>" frameborder="0"></iframe>
  <% end %></p>

  <p> <%= link_to 'Edit', edit_blog_post_path(@blog, post) %> </p>
  <td><%= link_to 'Destroy', [@blog, post], method: :delete, data: { confirm: 'Are you sure?' } %></td>

<% end %>



<!-- #render partial: 'posts/show'
 -->
 
