<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @blog.date %>
</p>

<p>
  <b>Title:</b>
  <%= @blog.title %>
</p>

<p>
  <b>Description:</b>
  <%= @blog.description %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>

<%= link_to 'New Post', new_blog_post_path(@blog) %>

<% @posts.each do |post| %>
<p><%= post.title %></p>
<p><%= post.location %></p>
<p><%= post.date %></p>
<p><%= post.stayed %></p>
<p><%= post.tags %></p>
<p><%= post.body %></p>

<iframe id="player" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/<%= post.youtube_id %>" frameborder="0"></iframe>

    <p> <%= link_to 'Edit', edit_blog_post_url(@blog, post) %> </p>



<p><% end %>



<!-- #render partial: 'posts/show'
 -->
 
