<a href="" class="button expand"><%= notice %></a>

<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @blog.date %>
</p>

<p>
  <b>Title:</b>
  <%= @blog.title %>
</p>

<p>
  <b>Description:</b>
  <%= @blog.description %>
</p>

  <%= image_tag @blog.blog_photo.url %>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>

<%= link_to 'New Post', new_blog_post_path(@blog) %>

<% @posts.each do |post| %>

<p><%= post.title %></p>
<p><%= post.location %></p>

<% if post.location %>
<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= post.latitude %>,<%= post.longitude %>&zoom=11&size=400x400">
<% end %>

<p><%= post.date %></p>
<p><%= post.stayed %></p>
<p><%= post.tags %></p>
<p><%= post.body %></p>


<% if post.video %>
<iframe id="player" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/<%= post.video.uid %>" frameborder="0"></iframe>
<% end %>

    <p> <%= link_to 'Edit', edit_blog_post_path(@blog, post) %> </p>
    <td><%= link_to 'Destroy', [@blog, post], method: :delete, data: { confirm: 'Are you sure?' } %></td>





<p><% end %>



<!-- #render partial: 'posts/show'
 -->
 
