<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @blog.date %>
</p>

<p>
  <b>Title:</b>
  <%= @blog.title %>
</p>

<p>
  <b>Description:</b>
  <%= @blog.description %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>

<%= link_to 'New Post', new_post_path %>

<%= render partial: 'posts/show' %>

