<div class="white_text"><a href="#" class="button expand">Hello <%= current_user.name %></a></div>

<a href="<%= new_blog_path %>" class="button [secondary success alert]">New Blog</a>
<a href="<%= blogs_user_blog_path %>" class="button [secondary success alert]">View Blogs</a>
 

<div class="friends_activity">
  <h5>Blogs you are following</h5>

    <% current_user.favorite_blogs.each do |favourite| %>
    <ul id="sortable">
      <li><%= link_to favourite.title, favourite %></li>
    </ul>

    <% end %>
</div>




<div class="callout_max">
  <div class="panel callout radius">

    <%= link_to edit_profile_path do %>
      <div id="edit_profile"> Edit Profile </div>
    <% end %>

     <p><b>Display Name: </b> <%= current_user.display %> </p>
     <p> <%= current_user.public_bio %> </p>
     <p> Account public status: <%= current_user.public %> </p>
      <%= image_tag current_user.profile_image.url %>
       <%= current_user.latitude %> 
       <%= current_user.longitude %> 
 
    <p><b>Following:</b></p>
    <p><b> Followers: </p>
  </div>
</div>

<div id="google_maps_api">
  <div style='width: 800px;'>
    <div id="multi_markers" style='width: 800px; height: 400px;'></div>
  </div>
</div>


  <%= form_for @city do |f| %>
    <div class="city_field">
      <%= f.text_field :city, :placeholder => "City" %>
    </div>
    <div class="create_city">
      <%= f.submit %>
    </div>
  <% end %>

  <% @cities.each do |city| %>
    <li><%= city.city %></li>
  <% end %>

 
<script>

var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
  var markers = handler.addMarkers([

  <% @cities.each do |city| %>

    { lat: <%= city.latitude %>, lng: <%= city.longitude %>},
    <% end %>
  ]);

 

  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});

</script>





<script> 

handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= current_user.latitude %> 
,
      "lng": <%= current_user.longitude %> 
,
      "picture": {
        "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
        "width":  36,
        "height": 36
      },
      "infowindow": ""

    }
  ]);

    markers = handler.addMarkers([
    {
      "lat": 16,
      "lng": 2,
      "picture": {
        "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
        "width":  36,
        "height": 36
      },
      "infowindow": ""
    }
  ]);


  function createSidebarLi(json){
  return ("<li><a>" + json.name + "</a></li>");
};

function bindLiToMarker($li, marker){
  $li.on('click', function(){
    handler.getMap().setZoom(14);
    marker.setMap(handler.getMap()); //because clusterer removes map property from marker
    marker.panTo();
    google.maps.event.trigger(marker.getServiceObject(), 'click');
  })
};

function createSidebar(json_array){
  _.each(json_array, function(json){
    var $li = $( createSidebarLi(json) );
    $li.appendTo('#sidebar_container');
    bindLiToMarker($li, json.marker);
  });
};

handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'sidebar_builder'}}, function(){
  var json_array = [
    { lat: 40, lng: -80, name: 'Foo', infowindow: "I'm Foo" },
    { lat: 45, lng: -90, name: 'Bar', infowindow: "I'm Bar" },
    { lat: 50, lng: -85, name: 'Baz', infowindow: "I'm Baz" }
  ];

  var markers = handler.addMarkers(json_array);

  _.each(json_array, function(json, index){
    json.marker = markers[index];
  });

  createSidebar(json_array);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
    






  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});



</script>