<h1> Landing Page </h1>

<h1>Hello <%= current_user.name %></h1>

 <%= link_to "New Blog", new_blog_path %>

 <%= link_to "View Blog",  blogs_user_blog_path %>

  <div class="profile">

  </div>

  <div class="user_profile">  

    <%= link_to edit_profile_path do %>
      <div id="edit_profile"> Edit Profile </div>
    <% end %>

     <p><b>Display Name: </b> <%= current_user.display_name %> </p>
     <p> <%= current_user.bio %> </p>
     <p> <%= current_user.public %> </p>

 
 
  </div>


