<div class="white_text"><a href="#" class="button expand">Hello <%= current_user.name %></a></div>

<div id="landing_buttons">
  <p><a href="<%= new_blog_path %>" class="button [secondary success alert]">New Blog</a></p>
  <p><a href="<%= blogs_user_blog_path %>" class="button [secondary success alert]">View Blogs</a></p>
 </div>  

 <div class="landing_bolgs_follow"> 
  <h5>Blogs you are following</h5>
    <% current_user.favorite_blogs.each do |favourite| %>
    <ul id="sortable">
      <li><%= link_to favourite.title, favourite %></li>
    </ul>
   <% end %>
 </div>

  <div class="landing_edit_profile">
    <%= link_to edit_profile_path do %>
      <div id="edit_profile"> Edit Profile </div>
    <% end %>

     <p><b>Display Name: </b> <%= current_user.display %> </p>
     <p> <%= current_user.public_bio %> </p>
     <p> Account public status: <%= current_user.public %> </p>
      <%= image_tag current_user.profile_image.url %>
       <%= current_user.latitude %> 
       <%= current_user.longitude %> 
 
    <p><b>Following:</b></p>
    <p><b> Followers: </p>
  </div>


<div id="google_maps_api">
  <div style='width: 900px;'>
    <div id="multi_markers" style='width: 800px; height: 400px;'></div>
  </div>
</div>


  <%= form_for @city do |f| %>
    <div class="city_field">
      <%= f.text_field :city, :placeholder => "City" %>
    </div>
    <div class="create_city">
      <%= f.submit %>
    </div>
  <% end %>

  <% @cities.each do |city| %>
    <li><%= city.city %></li>
  <% end %>

 
<script>

var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
  var markers = handler.addMarkers([

  <% @cities.each do |city| %>

    { lat: <%= city.latitude %>, lng: <%= city.longitude %>},
    <% end %>
  ]);

  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});

</script>


