<div class="model_listing">
  <h1>Hello <%= current_user.name %></h1>
</div>


<div id="modal">
    <header><h1>Blogs you are following</h1></header>
    <section>
    <p> 
      <% current_user.favorite_blogs.each do |favourite| %>
      <table>
    <tr>
      <td> <%= link_to favourite.title, favourite %> </td>
    </tr>
      </table>
    <% end %>

    </p>

    </section>
</div>

<div id="edit_profile_model">
  <div class="modal_edit">
    <header><h1>
      <%= link_to edit_profile_path do %>
        <h1> Edit Profile </h1>
      <% end %>
    </header>

    <section>
     <p> <h1> <%= current_user.display %> <h1> </p>
     <p> <h1> <%= current_user.public_bio %> </h1> </p>
     <p class="profile_home"> <%= image_tag current_user.profile_image.thumb.url %> </p>
    </section>
  </div>
</div>


<div id="google_maps_api">
    <div class="modal_edit">
  <div style='width: 900px;'>
    <div id="multi_markers" style='width: 800px; height: 400px;'></div>
  </div>
  <div>



  <%= form_for @city do |f| %>
    <div class="city_field">
      <%= f.text_field :city, :placeholder => "Keep track of which cities you have visted." %>
    </div>
    <div class="create_city">
      <%= f.submit %>
    </div>
  <% end %>
</div>

  <% @cities.each do |city| %>
    <table>
        <tr>
          <td><%= city.city %> </td>
        </tr>
    </table>
  <% end %>

<script>

var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
  var markers = handler.addMarkers([

  <% @cities.each do |city| %>

    { lat: <%= city.latitude %>, lng: <%= city.longitude %>},
    <% end %>
  ]);

  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});

</script>


