<div class="model_listing">
  <h1 class="current_user_name">Hello <%= current_user.name %></h1>
</div>

    <div id="pattern" class="pattern">
        <!--Begin Pattern HTML-->
        <div class="accordion clearfix">
            <div class="accordion-innerwrap">
                <ul class="panel-container list-reset" tabindex="1">
                    <li><h4 id="trigger1" class="panel-title"><b class="icon panel-closed" aria-hidden="true">&oplus;</b> Blogs you are following</h4>
                        <ul class="panel-content list-reset visuallyhidden" style="display: none;" aria-expanded="false">
                            <li><b class="icon"></b> <abbr title="cascading style sheet">
                               <% current_user.favorite_blogs.each do |favourite| %>
                               <li> <%= link_to favourite.title, favourite %> - 
                                    <%= favourite.description %> </li>
                              <% end %>
                              </abbr></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="pattern" class="pattern">
        <!--Begin Pattern HTML-->
        <div class="accordion clearfix">
            <div class="accordion-innerwrap">
                <ul class="panel-container list-reset" tabindex="1">
                    <li><h4 id="trigger2" class="panel-title"><b class="icon panel-closed" aria-hidden="true">&oplus;</b> Profile</h4>
                        <ul class="panel-content list-reset visuallyhidden" style="display: none;" aria-expanded="false">
                            <li><b class="icon"></b> <abbr title="cascading style sheet">
                              <li>  <%= link_to edit_profile_path do %>
                                      <h4> Edit Your Profile </h4>
                                    <% end %>
                              </li> 
                              <li> <h5>Display name: <%= current_user.display %> <h5> </li>
                              <li> <h5>Profile summery:</h5><p> <%= current_user.public_bio %> </p> </li>
                              <li> Profile picture:<p class="profile_home"> <%= image_tag current_user.profile_image.thumb.url %> </p></li>
                              </li>
                            </li> 
                              </abbr></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="pattern" class="pattern">
          <!--Begin Pattern HTML-->
          <div class="accordion clearfix">
              <div class="accordion-innerwrap">
                  <ul class="panel-container list-reset" tabindex="1">
                      <li><h4 id="trigger3" class="panel-title"><b class="icon panel-closed" aria-hidden="true">&oplus;</b> Map of your visted locations</h4>
                          <ul class="panel-content list-reset visuallyhidden" style="display: none;" aria-expanded="false">
                              <li><b class="icon"></b> <abbr title="cascading style sheet">
                                <li>  
                                </li>                  
                                  <div style='width: 900px;'>
                                     <li> 
                                      <div id="multi_markers" style='width: 800px; height: 400px;'></div>
                                     </li>
                                  </div>
                                  <li>
                                    <%= form_for @city do |f| %>
                                      <div class="city_field">
                                        <%= f.text_field :city, :placeholder => "Keep track of which cities you have visted." %>
                                      </div>
                                      <div class="create_city">
                                        <%= f.submit %>
                                      </div>
                                    <% end %>
                                  </div>
                                  </li>
                                    <% @cities.each do |city| %>
                                      <table>
                                          <tr>
                                            <td><%= city.city %> </td>
                                          </tr>
                                      </table>

<script>
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
    var markers = handler.addMarkers([

    <% @cities.each do |city| %>

      { lat: <%= city.latitude %>, lng: <%= city.longitude %>},
      <% end %>
    ]);

    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>

                                  <% end %>
                                </li>
                              </li> 
                            </abbr></li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
                          
<script>
$(document).ready(function() {
    // Collapsible Menu
    function accordion(trigger) {
        //variables
        var $button = $(trigger),//trigger firing the event
            visible = true;//flag for wayfinding

            $button.hover().css({'cursor': 'pointer'});

        //event
        $button.click(function() {
            //conditional check
            if ( ! visible ) {
                $button.removeClass('active');
                $('.panel-title .icon').html('&oplus;');

                $(this).next().slideToggle('slow',function() {
                    $(this).addClass('visuallyhidden');
                    $('.panel-content').attr( 'aria-expanded','false' );
                });
            }else {
                $button.addClass('active');
                $('.panel-title.active .icon').html('&otimes;');

                $(this).next().slideToggle('slow',function() {
                    $('.panel-content').attr( 'aria-expanded','true' );
                    $(this).removeClass('visuallyhidden');
                });
            }

            visible = !visible;
            return false
        });
    }

    //call to widget trigger1
    accordion('#trigger1');
    accordion('#trigger2');
    accordion('#trigger3');
    accordion('#trigger4')
    $('#trigger2').addClass('visuallyhidden')

});//end document.ready()
</script>   

<div id="pattern" class="pattern">
        <!--Begin Pattern HTML-->
        <div class="accordion clearfix">
            <div class="accordion-innerwrap">
                <ul class="panel-container list-reset" tabindex="1">
                    <li><h4 id="trigger4" class="panel-title"><b class="icon panel-closed" aria-hidden="true">&oplus;</b> Find cheap holiday destinations</h4>
                        <ul class="panel-content list-reset visuallyhidden" style="display: none;" aria-expanded="false">
                            <li><b class="icon"></b> <abbr title="cascading style sheet">
                              <li>
                                <script type="text/javascript" src="//api.skyscanner.net/api.ashx?key=abd1d229-26da-4694-b860-1780a653f4fa"></script>
                                <script type="text/javascript">
                                   skyscanner.load("snippets","2");
                                   function main(){
                                       var snippet = new skyscanner.snippets.SearchPanelControl();
                                       snippet.setShape("box400x400");
                                       snippet.setCulture("en-GB");
                                       snippet.setCurrency("GBP");
                                       snippet.setProduct("flights","1");
                                       snippet.setProduct("hotels","2");
                                       snippet.setProduct("carhire","3");

                                       snippet.draw(document.getElementById("snippet_searchpanel"));
                                   }
                                   skyscanner.setOnLoadCallback(main);
                                </script>
                                
                                <div id="snippet_searchpanel" style="width: auto; height:auto;"></div>
                                </li>
                                </li>
                              </li> 
                            </abbr>
                          </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>




