<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @farmer.name %>
</p>

<p>
  <b>Email:</b>
  <%= @farmer.email %>
</p>

<p>
  <b>Password hash:</b>
  <%= @farmer.password_hash %>
</p>

<p>
  <b>Farm:</b>
  <%= @farmer.farm %>
</p>

<p>
  <b>Produce:</b>
  <%= @farmer.produce %>
</p>

<p>
  <b>Produce price:</b>
  <%= @farmer.produce_price %>
</p>

<p>
  <b>Wepay access token:</b>
  <%= @farmer.wepay_access_token %>
</p>

<p>
  <b>Wepay account:</b>
  <%= @farmer.wepay_account_id %>
</p>


<%= link_to 'Edit', edit_farmer_path(@farmer) %> |
<%= link_to 'Back', farmers_path %>
