<div class="signin-form">

<h2>Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div id="signin-email"><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div id="signin-password"><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div id="signin-checkbox"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div id="signin-signin"><%= f.submit "Sign in" %></div>
<% end %>

</div>

<div class="sign-up">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

   <div id="name"> <%= f.label :name %><br />
  <%= f.text_field :name, :placeholder => "Name" %> </div>

  <div id="email"><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div id="password"><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div id="password_confirmation"><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div id="signupbutton"><%= f.submit "Sign up" %></div>
<% end %>

</div>

<%= render "devise/shared/links" %>
