<div class="container-fluid">
  <div class="row">

<div id="modal">
    <header><h1>Sign Up</h1></header>
    <section>
     <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

   <div id="name"> <br />
  <%= f.text_field :name, :placeholder => "Name" %> </div>

  <div id="email"><br />
  <%= f.email_field :email, autofocus: true, :placeholder => "Email" %></div>

  <div id="password"><br />
    <%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %></div>

  <div id="password_confirmation"><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Password confirmation" %></div>

  <p><div id="signupbutton"><%= f.submit "Sign up" %></div></p>
<% end %>

</section>
</div>


  </div>
</div>



