
  <div class="field">
    <%= f.text_field :title, :placeholder =>"Title" %>
  </div>
  <div class="field">
    <%= f.text_field :location, :placeholder =>"Location" %>
  </div>
  <div class="field">
    <%= f.text_field :latitude, :placeholder =>"latitude" %>
  </div>
  <div class="field">
    <%= f.text_field :longitude, :placeholder =>"longitude" %>
  </div>

  <div class="field">
    <%= f.text_field :date, :placeholder =>"Date" %>
  </div>
  <div class="field">
    <%= f.text_field :stayed, :placeholder =>"Key place visted" %>
  </div>
  <div class="field">
    <%= f.text_field :tags, :placeholder =>"Tags, seperate by comma (,)" %>
  </div>

  <div class="field">
    <%= f.text_area :body, :rows => "5", :cols => 10, :placeholder =>"Your post", :id => "edit" %>
  </div>
