  <div class="field">
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.text_field :stayed %>
  </div>
  <div class="field">
    <%= f.text_field :tags %>
  </div>
  <div class="field">
    <%= f.text_area :body %>
  </div>
