
<%= form_for([@blog, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="wrapper">

    <ul class="tabs clearfix" data-tabgroup="first-tab-group">
      <li><a href="#tab1" class="active">Blog</a></li>
      <li><a href="#tab2">Images</a></li>
      <li><a href="#tab3">Videos</a></li>
    </ul>



    <section id="first-tab-group" class="tabgroup">
      <div id="tab1">

        <%= render partial: 'blog', locals: { f: f } %>
      </div>
      <div id="tab2">
        <%= render partial: 'images', locals: { f: f } %>
      </div>
      <div id="tab3">
        <%= render partial: 'video', locals: { f: f } %>
      </div>
    </section>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>

  $('.tabgroup > div').hide();
$('.tabgroup > div:first-of-type').show();
$('.tabs a').click(function(e){
  e.preventDefault();
    var $this = $(this),
        tabgroup = '#'+$this.parents('.tabs').data('tabgroup'),
        others = $this.closest('li').siblings().children('a'),
        target = $this.attr('href');
    others.removeClass('active');
    $this.addClass('active');
    $(tabgroup).children('div').hide();
    $(target).show();
  
})
    

</script>
