<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Location:</b>
  <%= @post.location %>
</p>

<p>
  <b>Date:</b>
  <%= @post.date %>
</p>

<p>
  <b>Stayed:</b>
  <%= @post.stayed %>
</p>

<p>
  <b>Tags:</b>
  <%= @post.tags %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

